* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a {
    color: green;
}
a:visited {
    color: lightblue;
}
body {
    background-color: rgb(54, 53, 58);
    color: whitesmoke;
    height: 1000px;
    padding-top: 25px;
}
header {
    position: fixed;
    top: 0px;
    background-color: burlywood;
    width: 100vw;
    margin-left: -8px;
}
#navigation li {
    display: inline;
    margin: auto
}
h1 {
    color: rgb(187, 17, 17);
}
img {
    max-width: 90vw;
    display: block;
    margin: 0px auto;
}
#contact-form {
    line-height: 200%
}
.contact-label {
    display: inline;
}