* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    background-color: rgb(54, 53, 58);
    color: whitesmoke;
    min-height: 1000px;
    padding-top: 30px;
}
header {
    position: fixed;
    top: 0px;
    width: 100vw;
    margin-left: -8px;
    background-color: burlywood;
    text-align: center;
}
#nav-list li {
    display: inline;
    padding: 0px 20px
}
#nav-list li a {
    text-decoration: none;
}
h1 {
    color: rgb(187, 17, 17);
    text-align: center
}
img {
    max-width: 90vw;
    display: block;
    margin: 0px auto;
}
#contact-form {
    line-height: 200%
}
.contact-label {
    display: inline;
}